*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
}
#page1{
    height: 100%;
    width: 100%;
    background-color: rgb(175, 217, 231);
    display: flex;
    align-items: center;
    justify-content: center;
}
#page2{
    height: 100%;
    width: 100%;
    background-color: rgb(0, 116, 155);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}
#page3{
    height: 100%;
    width: 100%;
    background-color: rgb(0, 33, 44);
    display: flex;
    align-items: center;
    justify-content: center;
}
#box{
    height: 300px;
    width: 300px;
    background-color: rgb(247, 57, 57);
}
#h1{
    font-size: 50px;
    position: relative;
    padding: 10px;
    background-color: pink;
}
#h2{
    font-size: 50px;
    position: relative;
    padding: 10px;
    background-color: pink;
}