*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html, body{
    height: 100%;
    width: 100%;
}

body{
    overflow-x: hidden;
}

#main{
    height: 100%;
    width: 100%;
    background-color: lightblue;
    background-image: url(https://images.unsplash.com/photo-1517094857443-80776ddd155c?q=80&w=1471&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
}

#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 50px;
    color: white;

}
#nav h2{
    font: 30px;
}

#nav i{
    font-size: 30px;
    font-weight: 800;
    cursor: pointer;
}

#full{
    height: 100%;
    width: 40%;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.356);
    top: 0;
    right: -40%;
    backdrop-filter: blur(20px); /* beautiful blur effect (but you have to decrease opacity level of you choosen color) */ 
    padding: 100px 60px;
}

#full h4{
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 10px;
}

#full i{
    position: absolute;
    top: 5%;
    right: 10%;
    background-color: white;
    border-radius: 50%;
    padding: 5px;
    font-weight: 500;
    font-size: 30px;
    cursor: pointer;
}
