@font-face {
    font-family: china;
    src: url(./3856NeueMachina.woff2);
}
*{
    margin: 0;
    padding: 0;
    block-size: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
}

section{
    height: 100%;
    width: 100%;
    position: relative;
    background-color: white;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 50px 100px;
}

.part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:70px;
}
nav h1 i{
    rotate: 45deg;
    display: inline-block;
    font-size: 55px;

}
nav h1{
    font-size: 50px;
    display: flex;
    align-items: center;
    gap: 20px
}
nav h4{
    font-size: 30px;
    font-weight: 500;
}

nav button{
    padding: 18px 30px;
    font-size: 22px;
    background-color: transparent;
    border-radius: 10px;
    font-weight: 600;
    border: 1px solid black;
}

.center {
    padding: 70px 100px;
    height: 80%;
    width: 100%;
    display: flex;
}

.center-part1{
    height: 100%;
    width: 40%;
}

.center-part1 h1{
    line-height: 1.2;
    font-size: 70px;
    font-style: 110px;
    font-family: china;
}
.center-part1 p{
    font-size: 25px;
    width: 95%;
    margin-top: 50px;
    margin-bottom: 35px;
}
.center-part1 button{
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 20px 30px;
    font-size: 25px;
    font-weight: 600;
    border: none;
}
.center-part2{
    height: 100%;
    width: 50%;
    position: relative;
}
.center-part2 img{
    position: absolute;
    right: 0;
    height: 100%;
}

.section1bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 120px;
}
.section1bottom img{
    height: 100px;
    width: 120px;
}